* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 2em;
}

p {
  font-size: 1.3em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

body {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.conteiner {
  max-width: 1400px;
  margin: auto;
}

header {
  background-color: #ff8800;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

/* fb5607 */

.logo {
  margin: 0px;
  padding: 25px 30px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 1.45em;
}

.logo h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}



nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 1.3em;
}

header a:hover {
  color: rgb(65, 0, 245);
}

/* Fin-nav */

/* horarios */
.contenedor-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  color: rgb(245, 245, 245);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/fondo.jpg);
  background-size: cover;
  background-position: center center;
}

.title-hora {
  font-size: 1.9em;
  padding-bottom: 20px;
}

.horarios li {
  font-size: 1.7em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* fin-horarios */

/* pedidos ya */
.contenedor-{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 60vh;
  background-color: rgb(196, 196, 196);
}

.contenedor- h2{
  font-size: 4.0em;
}

.contenedor- p{
  font-size: 2.0em;
  padding-top: 15px;
}

.contenedor- a{
  text-decoration: none;
  color: #010201;
  width: 25%;
  transition: 0.5s;
}

.contenedor- a:hover{
  background-color: rgb(156, 156, 156);
  color: blueviolet;
}
/* fin pedidos ya */

/* direccion */
.contenedor-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  color: rgb(245, 245, 245);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/fondo2.jpg);
  background-size: cover;
  background-position: center center;
}

.title-dire {
  font-size: 1.9em;
  padding-bottom: 20px;
}

.direccion li {
  font-size: 1.7em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* fin-direecion */

/* footer */
footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #007188;
}

.titulo-footer {
  color: #010201;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.copy {
  color: #acadbcc2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.redes-sociales {
  display: flex;
  justify-content: center;
}

.redes-sociales i {
  font-size: 27px;
  padding: 10px;
}

.redes-sociales a {
  transition: 0, 3s;
}

.redes-sociales a:hover {
  transform: scale(1.1);
  color: #002aff;
}
/* fin-footer */

@media (min-width: 720px){



  header .conteiner{
    flex-direction: row;
    justify-content: space-between;

  }

  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-bottom: 0px;
    padding-right: 20px;
    width: 70%;
    
  }

  header .logo{
    padding-top: 10px;
    font-size: 1.4em;
    padding-bottom: 5px;
  }

  header a{
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    width: 25%;
    transition: 0.5s;
    padding-bottom: 15px;
  }

  header a:hover{
    background-color: #ac500483;
    
  }

  .banner{
    background: url(../img//barra-vieja\(1\).jpg) no-repeat center / contain;
   background-size: cover;
    width: 100%;
    height: 20vh;
  }






}
