@import "navbar";
@import "footer";
@import "inicio";
@import "contacto";
@import "galeria";
@import "cumpleaños";
@import "menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.3em;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Condensed", sans-serif;
}
